<div id="weather">
    <div class="weather_latest">
        <div class="precipitation" [class]="weather[0].pcat"></div>
        <div class="temperature" [style]="setTemperature(weather[0].temp)">Temperature: {{ weather[0].temp }} &#8451</div>
        <div class="wind">
            <div class="wind_dir"></div>
            <div class="wind_speed">
                <span>Wind: {{ weather[0].wind_speed }} m/s</span>
                <span class="wind_gust">( {{ weather[0].gust }} ) m/s</span>
            </div>
        </div>
        <div class="symbol"></div>
    </div>
    <weather-graph class="weather-graph" [weatherData]="weather"></weather-graph>
</div>